bin/
obj/ 
...............
 "../../Espa\303\247amento.png"
        ../../GitTheo/Atividade/
        ../../GitTheo/ProjetoEmEquipe/
        ../../GitTheo/atividade_branch_fiemg/
        "../../Miss\303\243o vis\303\243o valores.docx"
        ../../UX e UI.docx
        ../Atividade/
        ../atividade_branch_fiemg/
